@model IEnumerable<Data.Entity.Role>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Roles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<style>
    .table {
        border-collapse: collapse;
        margin-top;
        border: ridge;
    }

        .table thead {
            background-color: lightskyblue;
        }
</style>
@if (ViewBag.UserRole == "CEO")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (ViewBag.UserRole == "CEO")
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
            else
            {
                <td></td>
            }
        </tr>
        }
    </tbody>
</table>
