@model Data.Entity.Team

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeamLeader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeamLeader.FirstName)
        </dd>       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Developers)
        </dt>
        <dd>
            @String.Join(',', ViewBag.DevelopersNames)       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
