@model IEnumerable<Data.Entity.Team>

@{
    ViewData["Title"] = "Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Teams</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="post">
    <div class="form-actions no-color">
        <p>
            Filter: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<style>
    .table {
        border-collapse: collapse;
        margin-top;
        border: ridge;
    }

        .table thead {
            background-color: lightskyblue;
        }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Project)</a>               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamLeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Developers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamLeader.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developers.Count)
            </td>
            @if (ViewBag.UserRole == "CEO")
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
            else
            {
                <td></td>
            }
        </tr>
}
    </tbody>
</table>
